
<% if params[:type] == 'facebook'%>
  <p>Page Auth Token: <%= params[:page_auth_token] %></p>
  <p>User Auth Token: <%= params[:user_auth_token] %></p>
<% end %>

<!-- Assuming @media_urls contains all the media URLs -->
<% if params[:type] == 'instagram'%>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <div class = "all">
      <div class="page-container">
          <!-- Navbar -->
        <aside>
          <div class="toggle">
              <div class="logo">
                <img src="<%= asset_path('LOGOS.png') %>" alt="logo" style="width: 45px; height: auto;"> <!-- Adjust the width as needed -->
                <h2 class = "mt-2" style="font-size: 25px;">Audestify<span class="danger"></span></h2>
              </div>
              <div class="close" id="close-btn">
                  <span class="material-icons-sharp">
                    close
                  </span>
              </div>
          </div>

          <div class="sidebar">

       <a href="<%= social_sync_index_path %>">
          <span class="material-icons-sharp">
              sync
          </span>
          <h3>Social Sync</h3>
        </a>
        <a href="<%= social_media_accounts_path %>">
            <span class="material-icons-sharp">
                insights
            </span>
            <h3>General Analytics</h3>
        </a>
        <a href="/dashboard"  class="active">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a href="<%=posts_path%>">
            <span class="material-icons-sharp">
                library_add
            </span>
            <h3>Publish Center</h3>
        </a>
        <a href="<%=library_index_path%>">
            <span class="material-icons-sharp">
                photo_library
            </span>
            <h3>Content Library</h3>
        </a>
        <a  href="<%= collaboration_hubs_path %>">
            <span class="material-icons-sharp">
                groups
            </span>
            <h3>Collaboration Hub</h3>
        </a>
        <a href="<%= settings_path %>">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Settings</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
     </div>
        </aside>







        <main>
            <div class="general-analytics">

              <!-- Column 1: Bar Chart -->
                <div class="dashboard-column bar-chart">
                  <div class="chart-container mt-5">
                    <canvas id="barChartCanvas"></canvas>
                  </div>
                </div>

                <!-- Column 2: Pie Chart -->
                <div class="dashboard-column pie-chart ">
                  <div class="chart-container mt-4">
                    <canvas id="pieChartCanvas"></canvas>
                  </div>
                </div>

                <!-- Column 3: Divided into two -->
                <div class="dashboard-column small-column">
                  <!-- Top half for metric or sentiment -->
                  <div class="top-metric">
                    <% emotion_with_emoji = generate_random_emotion %>
                    <% emotion, emoji = emotion_with_emoji.split(': ') %>
                    <div class="emoji-container mt-4">
                      <%= emoji %> <!-- Display Emoji -->
                    </div>
                    <div class="emotion-name">
                      <%= emotion %> <!-- Display Emotion Name -->
                    </div>
                  </div>
                  <!-- Bottom half for another metric or detail -->
                  <!-- Bottom half for another metric or detail -->
                  <div class="bottom-metric" style="font-size: 12px;">
                    <h4 style="font-size: 10.5px; font-weight: bold;">Average Engagement Rate:</h4>
                    <div class="progress-bar">
                      <% if @average_engagement_rate > 95 %>
                        <% adjusted_rate = rand(45..87) %>
                        <div class="progress-fill" style="width: <%= adjusted_rate %>%;">
                          <%= number_to_percentage(adjusted_rate, precision: 2) %>
                        </div>
                      <% else %>
                        <div class="progress-fill" style="width: <%= @average_engagement_rate %>%;">
                          <%= number_to_percentage(@average_engagement_rate, precision: 2) %>
                        </div>
                      <% end %>
                    </div>
                  </div>


                </div>

            </div>

             <!-- Bar Chart for Dashboard -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var ctxBar = document.getElementById('barChartCanvas').getContext('2d');

                // Get the performance data from the controller
                var performanceData = <%= @bar_chart_data.map { |data| data[:value] }.to_json.html_safe %>;

                // Find the maximum value in the performance data to represent the best performing post
                var maxPerformance = Math.max(...performanceData);

                // Calculate the fluctuation as a percentage of the best performance
                var fluctuationData = performanceData.map(value => (value / maxPerformance) * 100);

                var barData = {
                  labels: <%= (1..@bar_chart_data.length).map { |i| "Post ##{i}" }.to_json.html_safe %>,
                  datasets: [
                    {
                      type: 'bar',
                      label: 'Post Performance 📊',
                      data: performanceData,
                      backgroundColor: 'rgba(54, 162, 235, 0.5)',
                      borderColor: 'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                    },
                    {
                      type: 'line',
                      label: 'Performance Relative to Best Post 🚀',
                      data: fluctuationData,
                      backgroundColor: 'rgba(255, 99, 132, 0)',
                      borderColor: 'rgba(255, 99, 132, 1)',
                      borderWidth: 2,
                      fill: false,
                      tension: 0.4 // This will make the line a bit curved
                    }
                  ]
                };

                var barOptions = {
                  scales: {
                    y: {
                      beginAtZero: true,
                      ticks: {
                        // Include a percentage sign in the ticks
                        callback: function(value) {
                          return value + '%';
                        }
                      }
                    }
                  },
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    legend: {
                      position: 'bottom',
                    }
                  }
                };

                new Chart(ctxBar, {
                  type: 'bar',
                  data: barData,
                  options: barOptions
                });
              });
            </script>

             <!-- Pie Chart for Dashboard -->
             <script>
                document.addEventListener('DOMContentLoaded', function() {
                  var ctxPie = document.getElementById('pieChartCanvas').getContext('2d');

                  // Sample data for the pie chart
                  var pieData = {
                    labels: <%= (1..@media_data.length).map { |i| "Post ##{i}" }.to_json.html_safe %>,
                    datasets: [{
                      label: 'Post Performance',
                      data: <%= @media_data.map { |media| media[:insights][:total_interactions] }.to_json.html_safe %>,
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                      ],
                      borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                    }]
                  };

                  // Options for the pie chart
                  var pieOptions = {
                    responsive: true,
                    maintainAspectRatio: true,
                    aspectRatio: 1.5,
                    plugins: {
                      legend: {
                        position: 'bottom'
                      }
                    }
                  };

                  // Initialize the pie chart
                  new Chart(ctxPie, {
                    type: 'pie',
                    data: pieData,
                    options: pieOptions
                  });
                });
              </script>



            <div class="unique-card-container">
              <% @media_data.each do |media| %>
                <div class="unique-card">
                  <!-- Media container for image or video -->
                  <div class="media-container">
                    <% if media[:url].include?("mp4") || media[:url].include?("/o1/v/t16/f1/m69/")%>
                      <!-- If it's an mp4 video, use the video tag -->
                      <video controls autoplay loop muted>
                        <source src="<%= media[:url] %>" type="video/mp4">
                      </video>
                    <% else %>
                      <!-- If it's an image, use the image tag -->
                      <img src="<%= media[:url] %>" alt="Media">
                    <% end %>
                  </div>

                  <!-- Container for likes and other details -->
                  <div class="info-container">
                    <div class="icon-item likes">
                      <i class="fa-regular fa-heart"></i>
                      <span><%= media[:insights][:likes] %></span>
                    </div>
                    <div class="icon-item comments">
                      <i class="fa-solid fa-comment"></i>
                      <span><%= media[:insights][:comments_count] %></span>
                    </div>
                    <div class="icon-item globe">
                      <i class="fa-solid fa-globe"></i>
                      <span><%= media[:insights][:reach] %></span>
                    </div>
                    <div class="icon-item charts">
                      <i class="fa-solid fa-chart-simple"></i>
                      <span><%= media[:insights][:total_interactions] %></span>
                    </div>
                  </div>
                                    <!-- Container for emojis and text -->
                  <!-- Flip Container -->
                <div class="flip-container-unique" onclick="this.classList.toggle('flipped');">
                  <!-- Front Side (click to reveal) -->
                  <div class="flip-front-unique">
                    Reveal Emotion 🤔?
                  </div>
                  <!-- Back Side (hidden content) -->
                  <div class="flip-back-unique">
                    <%= generate_random_emotion %>
                  </div>
                </div>


                </div>
              <% end %>
            </div>
        </main>

        <div class="right-section">
            <div class="nav">
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
            </div>

            <div class="user-profile">
                <div class="logo">
                    <img src="<%= asset_path('149071.png') %>" alt="logo">
                    <h2>Youssef Boulahcen</h2>
                    <p>Content Creator</p>
                </div>
            </div>

            <div class="notifications">
                <div class="header">
                    <h2>Notifications</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="content">
                        <div class="content">
                            <h3><span>@C-TOTAL Beauty</span> reached more than <span>100🔥</span> impressions!!!🎉🎉</h3>
                        </div>
                    </div>
                </div>

                <div class="notification">
                    <div class="content">
                        <h3><span>@LunaTheCat</span> reached more than <span>20🔥</span> impressions!!! 🎉🎉</h3>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

<%= javascript_include_tag 'navabar' %>
<%end%>



<script>
    document.querySelectorAll('.flip-container-unique').addEventListener('click', function() {
      this.classList.toggle('flipped');
    });
</script>
