<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<div class = "all">
 <div class="container">
    <!-- Navbar -->
  <aside>
    <div class="toggle">
        <div class="logo">
          <img src="<%= asset_path('LOGOS.png') %>" alt="logo" style="width: 45px; height: auto;"> <!-- Adjust the width as needed -->
          <h2 class = "mt-2" style="font-size: 25px;">Audestify<span class="danger"></span></h2>

        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
        </div>
    </div>

     <div class="sidebar">

       <a href="<%= social_sync_index_path %>" >
          <span class="material-icons-sharp">
              sync
          </span>
          <h3>Social Sync</h3>
        </a>
        <a href="analytics.html" class="active">
            <span class="material-icons-sharp">
                insights
            </span>
            <h3>General Analytics</h3>
        </a>
        <a href="dashboard.html">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a href="publish_center.html">
            <span class="material-icons-sharp">
                library_add
            </span>
            <h3>Publish Center</h3>
        </a>
        <a href="content_library.html">
            <span class="material-icons-sharp">
                photo_library
            </span>
            <h3>Content Library</h3>
        </a>
        <a  href="#">
            <span class="material-icons-sharp">
                groups
            </span>
            <h3>Collaboration Hub</h3>
        </a>
        <a href="settings.html">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Settings</h3>
        </a>
        <a href="new_login.html">
            <span class="material-icons-sharp">
                add
            </span>
            <h3>New Login</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
     </div>
  </aside>

        <main>

            <div class="general-analytics">
                <div class="data">
                    <div class="chart">
                        <img src="img/1324046-200.png">
                    </div>
                    <div class="chart">
                        <img src="img/1324046-200.png">
                    </div>
                    <div class="chart">
                        <img src="img/1324046-200.png">
                    </div>
                </div>
            </div>
            <div class="accounts">
                <h2>Accounts</h2>
                <div class="account-card">
                    <div class="account-logo">
                        <img src="img/Instagram_icon.png">
                    </div>
                    <div class="account-name">
                        <h3>@User_account_1</h3>
                    </div>
                    <div class="account-info">
                        <h3>Impressions</h3>
                        <div class="text">
                            <p>6323</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Emotion</h3>
                        <div class="text">
                            <p>Hate</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Toxicity</h3>
                        <div class="text">
                            <p>High</p>
                        </div>
                    </div>
                    <div class="dashboard-button">
                        <h3>Dashboard</h3>
                    </div>
                </div>
                <div class="account-card">
                    <div class="account-logo">
                        <img src="img/Instagram_icon.png">
                    </div>
                    <div class="account-name">
                        <h3>@User_account_2</h3>
                    </div>
                    <div class="account-info">
                        <h3>Impressions</h3>
                        <div class="text">
                            <p>14576</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Emotion</h3>
                        <div class="text">
                            <p>Happines</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Toxicity</h3>
                        <div class="text">
                            <p>Low</p>
                        </div>
                    </div>
                    <div class="dashboard-button">
                        <h3>Dashboard</h3>
                    </div>
                </div>
                <div class="account-card">
                    <div class="account-logo">
                        <img src="img/Instagram_icon.png">
                    </div>
                    <div class="account-name">
                        <h3>@User_account_3</h3>
                    </div>
                    <div class="account-info">
                        <h3>Impressions</h3>
                        <div class="text">
                            <p>8345</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Emotion</h3>
                        <div class="text">
                            <p>Excitement</p>
                        </div>
                    </div>
                    <div class="account-info">
                        <h3>Toxicity</h3>
                        <div class="text">
                            <p>Low</p>
                        </div>
                    </div>
                    <div class="dashboard-button">
                        <h3>Dashboard</h3>
                    </div>
                </div>
            </div>
        </main>

        <div class="right-section">
            <div class="nav">
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
            </div>

            <div class="user-profile">
                <div class="logo">
                    <img src="<%= asset_path('149071.png') %>">
                    <h2>UserName</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="notifications">
                <div class="header">
                    <h2>Notifications</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="content">
                        <div class="content">
                            <h3>Your <span>@User_account_2</span> reached more than <span>10000</span> impressions!!!</h3>
                        </div>
                    </div>
                </div>

                <div class="notification">
                    <div class="content">
                        <h3>Your <span>@User_account_1</span> reached more than <span>5000</span> impressions!!!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%= javascript_include_tag 'navabar' %>




<%# app/views/social_media_accounts/index.html.erb %>
  <div data-controller="facebook-data"
      data-facebook-data-auth-token-value="<%= current_user.social_media_accounts.where(platform_name: 'Facebook').order(created_at: :desc).first.auth_token %>">
    <!-- This div will be populated with data fetched by the Stimulus controller -->
  </div>
