<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

<div class = "all">
 <div class="page-container">
    <!-- Navbar -->
  <aside>
    <div class="toggle">
        <div class="logo">
          <img src="<%= asset_path('LOGOS.png') %>" alt="logo" style="width: 45px; height: auto;"> <!-- Adjust the width as needed -->
          <h2 class = "mt-2" style="font-size: 25px;">Audestify<span class="danger"></span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
        </div>
    </div>

     <div class="sidebar">

       <a href="<%= social_sync_index_path %>" class="active">
          <span class="material-icons-sharp">
              sync
          </span>
          <h3>Social Sync</h3>
        </a>
        <a href="<%= social_media_accounts_path %>">
            <span class="material-icons-sharp">
                insights
            </span>
            <h3>General Analytics</h3>
        </a>
        <a href="dashboard.html">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a href="<%=posts_path%>">
            <span class="material-icons-sharp">
                library_add
            </span>
            <h3>Publish Center</h3>
        </a>
        <a href="<%=library_index_path%>">
            <span class="material-icons-sharp">
                photo_library
            </span>
            <h3>Content Library</h3>
        </a>
        <a  href="<%= collaboration_hubs_path %>">
            <span class="material-icons-sharp">
                groups
            </span>
            <h3>Collaboration Hub</h3>
        </a>
        <a href="settings.html">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Settings</h3>
        </a>
        <a href="new_login.html">
            <span class="material-icons-sharp">
                add
            </span>
            <h3>New Login</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
     </div>
  </aside>









  <main>
      <div class="social-media-cards">
          <!-- Facebook Card -->
          <div class="account-card" id="facebook-card">
              <i class="fab fa-brands fa-meta fa-5x"></i>
              <!-- Green dot for connected status -->
              <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>
              <a class="sync-btn dashboard-button" onclick="checkLoginState(); startSyncing();">
                  <i class="fa-solid fa-rotate mx-2" id="sync-icon"></i> <span id="sync-text">Sync</span>
              </a>
              <%= link_to social_media_accounts_path, class: "sync-btn dashboard-button", id: "manage-btn" do %>
                  <i class="fa-solid fa-gear mx-2"></i> Manage
              <% end %>
              <p id="facebook-status-text" class="status-text hidden">Connected</p>
          </div>



          <!-- TikTok Card -->
          <div class="account-card">
              <i class="fab fa-tiktok fa-5x"></i>
               <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>

              <p>Currently Unavailable</p>
              <p>Coming Soon !</p>
          </div>

          <!-- Twitter Card -->
          <div class="account-card">
              <i class="fab fa-twitter fa-5x"></i>
                <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>

              <p>Currently Unavailable</p>
              <p>Coming Soon !</p>
          </div>
                    <!-- Twitter Card -->
          <div class="account-card">
              <i class="fab fa-brands fa-reddit fa-5x"></i>
               <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>

              <p>Currently Unavailable</p>
              <p>Coming Soon !</p>
          </div>
                    <!-- Twitter Card -->
          <div class="account-card">
              <i class="fab fa-brands fa-youtube fa-5x"></i>
                <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>

              <p>Currently Unavailable</p>
              <p>Coming Soon !</p>
          </div>
                    <!-- Twitter Card -->
          <div class="account-card">
              <i class="fab fa-brands fa-linkedin fa-5x"></i>
               <div id="facebook-status" class="status-icon not-connected">
                  <i class="fas fa-circle"></i> <!-- FontAwesome green dot -->
              </div>

              <p>Currently Unavailable</p>
              <p>Coming Soon !</p>
          </div>



          <!-- Add additional cards for other social media platforms as needed -->
      </div>
  </main>

   <div class="right-section">
       <div class="nav">
           <div class="dark-mode">
               <span class="material-icons-sharp active">
                   light_mode
               </span>
               <span class="material-icons-sharp">
                   dark_mode
               </span>
           </div>
       </div>

       <div class="user-profile">
           <div class="logo">
               <img src="<%= asset_path('149071.png') %>" alt="logo">
               <h2>Youssef Boulahcen</h2>
               <p>Content Creator</p>
           </div>
       </div>

       <div class="notifications">
           <div class="header">
               <h2>Notifications</h2>
               <span class="material-icons-sharp">
                   notifications_none
               </span>
           </div>

           <div class="notification">
               <div class="content">
                   <div class="content">
                       <h3>Your <span>@C-TOTAL Beauty</span> reached more than <span>100🔥</span> impressions!!!🎉🎉</h3>
                   </div>
               </div>
           </div>

           <div class="notification">
               <div class="content">
                   <h3>Your <span>@LunaTheCat</span> reached more than <span>20🔥</span> impressions!!!🎉🎉</h3>
               </div>
           </div>
       </div>
    </div>
   </div>
</div>

<%= javascript_include_tag 'navabar' %>





































<script>
    function startSyncing() {
        const syncText = document.getElementById('sync-text');
        const syncIcon = document.getElementById('sync-icon');

        // Change the text to "Syncing"
        syncText.innerHTML = "Syncing";

        // Add the rotating class to the icon
        syncIcon.classList.add('rotating');
    }
</script>

<!-------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Facebook login JS Script CODE TO NOT TOUCH , add any code above this line-->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '454640906893151', // Replace with your Facebook App ID
            cookie     : true,
            xfbml      : true,
            version    : 'v19.0' // Use the correct Graph API version for your app
        });

        FB.AppEvents.logPageView();
         checkLoginState();
    };

      function checkLoginState() {
          FB.getLoginStatus(function(response) {
              if (response.status !== 'connected') {
                  // If not already connected, explicitly call the login method
                  FB.login(function(response) {
                      statusChangeCallback(response);
                      console.log(response);
                  }, {scope: 'public_profile,email,manage_fundraisers,read_insights,publish_video,catalog_management,pages_manage_cta,pages_manage_instant_articles,pages_show_list,read_page_mailboxes,ads_management,ads_read,business_management,pages_messaging,pages_messaging_subscriptions,instagram_basic,instagram_manage_comments,instagram_manage_insights,instagram_content_publish,leads_retrieval,whatsapp_business_management,instagram_manage_messages,page_events,pages_read_engagement,pages_manage_metadata,pages_read_user_content,pages_manage_ads,pages_manage_posts,pages_manage_engagement,whatsapp_business_messaging,instagram_shopping_tag_products,instagram_branded_content_brand,instagram_branded_content_creator,instagram_manage_events'});
              } else {
                  // If already connected, handle the status change
                  statusChangeCallback(response);
              }
          });
}

    function createSocialMediaAccount(authToken) {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Extract CSRF token from meta tag
        if (authToken) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/social_media_accounts");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("X-CSRF-Token", csrfToken); // Include CSRF token in request header
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 201) {
                        console.log('Social media account created successfully');
                        // Dazet 🧦
                    } else {
                        console.error('Error creating social media account:', xhr.responseText);
                        // Madazetch 🧦
                    }
                }
            };
            var data = JSON.stringify({ auth_token: authToken });
            xhr.send(data);
        } else {
            console.error('No auth token found');
        }
    }


    function statusChangeCallback(response) {
                var facebookStatusText = document.getElementById("facebook-status-text");
                var authToken = '';
                if (response.status === 'connected') {
                    // The user is logged in and has authenticated your app
                    authToken = response.authResponse.accessToken;
                    console.log('Facebook Access Token:',  authToken);
                    console.log('jma3 Karrek');

                    facebookStatusText.classList.remove("hidden");
                    facebookStatusText.innerHTML = 'Checking...';
                    FB.api('/me', function(response) {
                        facebookStatusText.innerHTML =  `<div style="text-align: center;">Hey there! 🌟 <br> ${response.name}!</div>`;
                    });
                    // Change the status icon and button
                    facebookStatusIcon = document.getElementById("facebook-status");
                    facebookStatusIcon.classList.remove("not-connected");
                    facebookStatusIcon.classList.add("connected");
                    facebookStatusIcon.classList.remove("text-danger");
                    facebookStatusIcon.classList.add("text-success");
                    var fbCard = document.getElementById("facebook-card");
                    fbCard.querySelector('.sync-btn').classList.add("hidden");
                    console.log("kane3aytou l create");
                    createSocialMediaAccount(authToken);
                } else {
                    // The person is not logged into your app or we are unable to tell.
                    facebookStatusText.classList.remove("hidden");
                    facebookStatusText.innerHTML = 'Not Connected';
                    document.getElementById("facebook-status").classList.remove("connected");
                    document.getElementById("facebook-status").classList.add("not-connected");
                    var fbCard = document.getElementById("facebook-card");
                    fbCard.querySelector('.sync-btn').classList.remove("hidden");
                }
        }


</script>
<!-------------------------------------------------------------------------------------------------------------------------------------------------->
