<div class="navigation">
    <div class="landing-logo">
        <%= link_to root_path do %>
          <%= image_tag "LOGOS.png" %>
        <% end %>
        <h2>Audestify<span class="danger"></span></h2>
    </div>
    <div class="menu left">
        <%= link_to root_path do %>
          <a href="">Home</a>
        <% end %>
        <a href="#features">Features</a>
        <a href="">Community</a>
        <a href="">Resources</a>
        <a href="">Pricing</a>
        <a href="">About Us</a>
        <a href="">Contact</a>
    </div>
    <div class="menu session">
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path, class: "signup" %>
    </div>
</div>
<div class="banner-container">
  <video   src="feel.mp4" width="100%" height="100%" autoplay muted loop>

  </video>
</div>


<div class="features-container" id="features">
  <h1 class="title">FEATURES</h1>
  <div class="cards-container">
    <div class="feature-card mb-5">
      <div class="image-container mb-4">
         <%= image_tag "unified_analytics.png" %>
      </div>
      <h2>Unified Analytics </h2>
      <p>Get a comprehensive view of your social media performance across all platforms in one dashboard.</p>
      <p>Analyze trends, track engagement, and understand your audience with detailed reports and metrics.</p>
    </div>
    <div class="feature-card mb-5">
      <div class="image-container mb-4">
         <%= image_tag "Click_posting.png" %>
      </div>
      <h2>One-Click Posting</h2>
      <p>Effortlessly publish content to multiple social media channels with a single click.</p>
      <p>Save time and maintain a consistent online presence, ensuring your message reaches all your audiences.</p>
    </div>
    <div class="feature-card mb-5">
      <div class="image-container mb-4">
         <%= image_tag "Emotional_Analysis.png" %>
      </div>
      <h2>Emotion Insight Analytics</h2>
      <p>Dive deep into your audience's reactions with advanced emotion analysis of your posts.</p>
      <p>Understand the emotional impact of your content, and create more resonant and effective media campaigns.</p>
    </div>
  </div>
</div>
