<!DOCTYPE html>
<html>
  <head>
    <title>Audestify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
     <h2>Add Facebook Login to your webpage</h2>

      <!-- Set the element id for the JSON response -->

      <p id="profile"></p>

      <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '3839146769738510', // Your Facebook App ID
              cookie     : true,
              xfbml      : true,
              version    : 'v19.0'
            });

            FB.AppEvents.logPageView();

            // Check the user's login status
            FB.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                // The user is logged in and has authenticated your app
                console.log("User is logged in and authenticated");
              } else if (response.status === 'not_authorized') {
                // The user is logged in to Facebook but has not authenticated your app
                console.log("User is logged in to Facebook but not authenticated the app");
              } else {
                // The user isn't logged in to Facebook.
                console.log("User is not logged in to Facebook");
              }
            });
          };
      </script>


  </body>
</html>
